*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_mockito_mockito_all_1_10_19.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/Maven__com_google_guava_guava_21_0.xml
target/classes/log4j.properties
target/surefire-reports/TEST-uk.co.gumtree.addressbook.AppTest.xml
target/surefire-reports/TEST-uk.co.gumtree.addressbook.bean.AddressBookTest.xml
target/surefire-reports/TEST-uk.co.gumtree.addressbook.bean.ContactTest.xml
target/surefire-reports/TEST-uk.co.gumtree.addressbook.enums.GenderTest.xml
target/surefire-reports/TEST-uk.co.gumtree.addressbook.service.ContactFactoryTest.xml
target/surefire-reports/TEST-uk.co.gumtree.addressbook.service.InputReaderTest.xml
target/surefire-reports/uk.co.gumtree.addressbook.AppTest.txt
target/surefire-reports/uk.co.gumtree.addressbook.bean.AddressBookTest.txt
target/surefire-reports/uk.co.gumtree.addressbook.bean.ContactTest.txt
target/surefire-reports/uk.co.gumtree.addressbook.enums.GenderTest.txt
target/surefire-reports/uk.co.gumtree.addressbook.service.ContactFactoryTest.txt
target/surefire-reports/uk.co.gumtree.addressbook.service.InputReaderTest.txt
target/test-classes/addressBookValid
